.header {
    margin: 0 auto;
    max-width: 1184px;
    max-height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-top: 28px;
}


@media screen and (max-width: 768px) {
    .header {
        margin: 28px 24px 0 24px;
    }
}