.lead__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    max-width: 720px;
    max-height: 200px;
    margin: 56px 280px 0 280px;
    text-align: center;
}

@media screen and (max-width:1024px) {
    .lead__title {
        margin: 48px 152px 0 152px;
        max-width: 720px;
    max-height: 200px;
    }
}
@media screen and (max-width:768px) {
    .lead__title {
        margin: 48px 24px 0 24px;
        max-width: 720px;
    max-height: 200px;
    }
}
    @media screen and (max-width:320px) {
        .lead__title {
            max-width: 288px;
            max-height: 88px;
            font-size: 40px;
            line-height: 44px;
            margin: 48px 16px 0 16px;
        }
    }