.place__link {
    color: white;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    transition: 0.3s ease;
}

.place__link:hover {
    opacity: 80%;
}