.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    max-height: 18px;
    margin: 0 48px 24px 48px;
}

@media screen and (max-width: 1024px) {
    .footer {
        margin: 0 24px 24px 24px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        width: 186px;
        height: 310px;
        flex-direction: column;
    }
}